/*--------------- Header Kode -----------------------*/

header {
  display: flex;
  min-height: 10vh;
  position: relative;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  min-height: 5vh;
}

.menuknap {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 1vw;
  margin-top: 1vw;
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  list-style-type: none;
  transition: transform 0.3s;
  text-align: right;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 65%;
  width: 650px;
  padding: 0;
}

#menu li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: black;
  text-shadow: 0 0 7px gray;
  font-size: 1.5rem;
  padding-right: 1vw;
}

/*--------------- Tekst Styling -----------------------*/

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  margin: 0;
  color: black;
  text-shadow: 0 0 7px gray;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
