body {
  background: linear-gradient(
    315deg,
    rgba(107, 148, 255, 1) 0%,
    rgba(122, 122, 122, 1) 100%
  );
}

main {
  display: grid;
  grid-template-columns: 100px 2fr 1fr 100px;
  margin-left: 5vw;
}

h1 {
  grid-column: 2 / 3;
}

#first_section {
  grid-column: 2 / 4;
}

footer {
  grid-column: 1 / 5;
}

.section_wrapper {
  display: flex;
}

.col_1 {
  background: rgba(80, 80, 80, 0.3);
  border-radius: 5%;
  margin-right: 2vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.col_2 {
  background: rgba(80, 80, 80, 0.3);
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1%;
}

.col_1,
.col_2,
li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1vw;
}

@media (max-width: 900px) {
  main {
    margin: 0;
  }

  #first_section {
    grid-column: 1 / 5;
    justify-content: center;
    margin: 0;
  }

  .section_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
}
