main {
  margin-left: 5vw;
}

body {
  background: linear-gradient(
    135deg,
    rgba(244, 76, 76, 1) 0%,
    rgba(98, 98, 98, 1) 100%
  );
}

.list_1:hover {
  display: flex;
  list-style: none;
}

.list_1 li:hover {
  background: white;
  width: 100px;
  height: 50px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1vw;
}
